body {
    background: url("Luffy.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: repeat;
}

.ping {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: rgba(44, 60, 80, 0.7);
    padding: 20%;
    width: 90%;
    margin: 0 auto;
}

