body {
    background: url("Pretty.jpg");
    background-size: cover;
    background-position: center;  
    background-repeat: no-repeat;
}

.index {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    background: rgba(44, 62, 80, 0.7);
    padding: 10%;
    width: 30%;
    margin-top: 90px;
    margin-left: 90px;
    margin: 0 auto;
}