body {
    background: url("Pretty.jpg");
    background-size: contain;
    background-position: center;  
    background-repeat: repeat;
}

.index {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    background: rgba(44, 62, 80, 0.7);
    padding: 30px;
    width: 100%;
    max-width: 30%;
    margin-top: 90px;
    margin-left: 90px;
    margin: 0 auto;
}